/*.rgb-control-container {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}*/

.submit-button {
    padding: 10px 20px;
    background: linear-gradient(45deg, #feb47b, #ff7e5f);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.status-message {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.rgb-control-container {
    text-align: center;
}