/* SoilMoistureGauge.css */

.soil-moisture-container {
    text-align: center;
    position: relative;
    width: 300px;
    margin: auto;
}

.soil-moisture-loading,
.soil-moisture-error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

.soil-moisture-percentage {
    position: absolute;
    top: 43%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
}

.soil-moisture-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}